<!DOCTYPE html>
<html>
<head>
    <title>GoodBurger - Best Burgers</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ asset('css/general.css') }}" rel="stylesheet" type="text/css"/>
    <link rel="shortcut icon" href="{{ asset('images/favicon.ico')}}" type="image/x-icon">
    <style type="text/css">
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: center;
            padding: 8px;
        }

    </style>
</head>
<body>
<div id="header">
    <div class="container">
        <div id="logo">
            <a href="{{ path('core_homepage') }}"><img src="{{ asset('images/goodburger.jpg') }}" alt=""/></a>
        </div>
        <div id="nav">
            {%  if app.session.get('username') is not null %}
                <a href="{{ path('core_homepage') }}">Home</a>
                <a href="{{ path('profile_route') }}">Profile</a>
                {%  if app.session.get('userRole') == 'admin' %}
                    <a href="{{ path('admin_route') }}">Administration</a>
                {% endif %}
                <a href="{{ path('logout_route') }}">Logout</a>
            {% else %}
                <form action="{{ path('login_route') }}" method="post">
                    <input type="text" name="username" placeholder="username">
                    <input type="password" name="password" placeholder="password">
                    <input type="submit" value="Login">
                    <a href="{{ path('register_route') }}"> <input type="button" value="Sign In"></a>
                </form>
            {% endif %}
        </div>

        <div id="cart">
            <a href="{{ path('cart_route') }}"><img src="{{ asset('images/cart.png') }}" alt=""/></a>
            <span>{{ app.session.get('basket')|length }}</span>
        </div>
    </div>
</div>
<div style="text-align: center;"><h1>Checkout Confirmation</h1></div>
<div id="content">
    <div id="company">
        <img src="{{ asset('images/banner.jpg') }}" style="width: 160px !important;height: 600px !important;" />
    </div>

    <div id="profile" >


        <h2>Your order is confirmed ,we will deliver your order in less than 30 minutes. thank you for choosing our company !</h2>



    </div>
</div>
<div id="footer">
    <div class="container">
        <p>All rights reserved &copy; GoodBurger 2018</p>
    </div>
</div>

<script src="{{ asset('js/jquery-3.2.1.min.js') }}" type="text/javascript"></script>
<script>


</script>
</body>
</html>